.btn {
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #fff;
}

.btn--primary {
    background-color: #343d33;
    padding: 14px 26px;
    transition: all 0.3s;
    width: 389px;
    height: 56px;
}



.btn--primary:hover {
    background-color: #242d23;
}